body {
	margin-top: 75px;
	margin-bottom: 75px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  background: url('../images/background2.png')repeat center center fixed ;
  background-size: contain;
}

.header{
  margin-top: 5%;
  text-align: center;
  float:none;
  font-family: 'Coustard', serif;
}

.h1{
  
}



